### Block Release Exercise: Data Analysis Group

This notebook is for the data analysis group. Your aim is to write code that will analyse the data produced by the other group. You will not work with the group until the end - the point of this task is that there is a clear definition (given below) of the "interface format" between your code and the data being produced by the other group's code. At the end of the day, you should be able to retrieve their file from GitHub and check whether your analysis works on it.

The task is concerned with processing a file that contains a list of customers for an online coffe 

There are various tasks that you have to do. These are marked with "Coding Task" in the sheet.

##### Background Information: Interface Format

The software interface between your work and the work by the other group consists of an csv formatted file, i.e. a file where on each row, entries are separated by commas, with a newline separating rows.The columns are: First Name, Last Name, Email, Address, Total Orders (in that order). Total orders is the number of coffee pods that the customer has ordered so far. The file will be called *cleanedCustomerData.csv*

Coding Task: In the next block, import the Pandas library and call it "pd".

In [7]:
import pandas as pd

Preliminary Task: In order to test your code, you are going to need some example data. So, go into Excel and create a spreadsheet with the five columns mentioned in the *Interface Format* above. Create a couple of rows of data by making up names, etc. Make sure that when you save it, you save it as a *csv* file (not an Excel file) and that you call it *cleanedCustomerData.csv*. For now, it will only need to have a couple of example rows, but later on you might need to add more lines to test specific parts of your code. If you do this, remember to re-run your sheet from the beginning.

Coding Task: In the next block, import the sample customer data file that you have created into a Pandas DataFrame, give it the variable name *customers* and print it out to check that you have imported it correctly. You will need to find out how to read a csv file in Pandas.

In [31]:

df = pd.read_csv("CustomerData.csv")
df

,Customer Name,Address,Email,Total Orders,Order Type
0,Jaswinder Singh,"37 Broadwide Road, Rummidge, RU6 7HG",JasSingh78@example.com,57,Individual
1,Mark Harper,"Flat 5, Riverside House, Anytown, AN2 8NE",Mark.Harper@example.com,5,Packets
2,Melinda Nagy,"77 Melton Road, Somecity, SM12 1HE",MelN@example.com,152,Ind.
3,Yichen Zhang,"6/1 Braeside Court, Scotstoun, SC5 1HE",YZ41234253@example.com,17,Packets
4,Mark Harper,"Flat 5, Riverside House, Anytown, AN2 8NE",Mark.Harper@example.com,5,Packets
5,Rebecca Jameson,"The Old Rectory, Humbleside, Marksham, MA14 6LW",BeckyJamzie@example.com,271,Individual
6,Willem deVries,"17 Parkside, Newtown-le-Willows, NL18 5TH",deVries1955@example.com,23,Packets
7,Jaswinder Singh,"37 Broadwide Road, Rummidge, South Midlands, R...",JasSingh78@example.com,72,Individual
8,James Colton,"19 Belton Street, Isle of Trees, IT2 5PQ",JimmyColton@example.com,6,Packets
9,Ethel Trellis,"1 The Avenue, Foxley Estate, Rummidge, RU4 7WF",EthelsPlace@example.com,2,Packets

Coding task: In the next block, calculate and print the average (mean) number of orders for a customer.

In [29]:
df.mean()

Total Orders    61.0
dtype: float64

Preliminary Example: In a lot of the code you are going to write below, you will need to loop through one or more columns of the DataFrame to look for particular patterns and make changes. The basic idea you will use a lot is a for loop with an *enumerate* function, which loops through each row of the dataframe and gives names to the current row and the item of interest, and the *at* function that takes a column name and row number and allows you to view or change that data point.

In [28]:
address = df['Address']
listAddress = list(address)
for i in range(len(listAddress)):
    if 'RU' in listAddress[i]:
        print(listAddress[i])

37 Broadwide Road, Rummidge, RU6 7HG
37 Broadwide Road, Rummidge, South Midlands, RU6 7HG
1 The Avenue, Foxley Estate, Rummidge, RU4 7WF

Preliminary Example: In the next step, we are going to split the address column into its parts. You do this using the "split" function in python, https://www.w3schools.com/python/ref_string_split.asp Here is an example:

In [19]:
#example
name = "Colin Johnson"
splitName = name.split()
print(splitName)

['Colin', 'Johnson']

Coding Task: Your company has decided to carry out a local promotion for customers living in the Rummidge area, i.e. anyone with a postcode beginning "RU..". By using the ideas from the two preliminary examples, and by looking up how substrings work (e.g. at https://www.freecodecamp.org/news/how-to-substring-a-string-in-python/), write code in the next block to select these customers and make a list of their email addresses. You will need to add a couple more examples to your test data so that you have examples both with and without these postcodes. If you are not familiar with UK postcodes, you will need to find out how they are formatted and where they are in the address.

In [20]:
Address=customers['Address']
postcodes=[]
for x in Address:
    splitAddress=x.split()
    print(splitAddress)
    postcodes.append(splitAddress[-2])
print(postcodes)

for i,x in enumerate(postcodes):
    if x.startswith('RU'):
        print(customers.at[i,'Email'])

['37', 'Broadwide', 'Road,', 'Rummidge,', 'RU6', '7HG']
['Flat', '5,', 'Riverside', 'House,', 'Anytown,', 'AN2', '8NE']
['77', 'Melton', 'Road,', 'Somecity,', 'SM12', '1HE']
['6/1', 'Braeside', 'Court,', 'Scotstoun,', 'SC5', '1HE']
['Flat', '5,', 'Riverside', 'House,', 'Anytown,', 'AN2', '8NE']
['The', 'Old', 'Rectory,', 'Humbleside,', 'Marksham,', 'MA14', '6LW']
['17', 'Parkside,', 'Newtown-le-Willows,', 'NL18', '5TH']
['37', 'Broadwide', 'Road,', 'Rummidge,', 'South', 'Midlands,', 'RU6', '7HG']
['19', 'Belton', 'Street,', 'Isle', 'of', 'Trees,', 'IT2', '5PQ']
['1', 'The', 'Avenue,', 'Foxley', 'Estate,', 'Rummidge,', 'RU4', '7WF']
['RU6', 'AN2', 'SM12', 'SC5', 'AN2', 'MA14', 'NL18', 'RU6', 'IT2', 'RU4']
JasSingh78@example.com
JasSingh78@example.com
EthelsPlace@example.com

Optional advanced extension task: You can automate email sending from Python - see https://realpython.com/python-send-email/. So, write code to actually send the emails (it is safe to do so, because they all use the "example.com" domain which is reserved for examples, so you won't accidentally send an email to a real person). You can check it works by putting your email adress in the "Email" column of your test file. This is a rather advanced task, so I would suggest that you leave this and return to it at the end once you have done everything else.

In [ ]:
#ANSWER to optional task

Coding Task: Your team leader believes that customers in the northern sales region buy more coffee than those in the midlands sales region. Data matching the first two letters of postcodes to sales regions is in the *salesRegions.xlsx* file, which is on your team site on GitHub (you might find it useful to convert this to a Python dictionary, e.g. https://stackoverflow.com/questions/18012505/python-pandas-dataframe-columns-convert-to-dict-key-and-value). In the next block, write code to calculate the average sales for each region. Extension: If you are confident with statisical analysis, you could test whether the difference is statistically significant

In [ ]:
#ANSWER

Thinking Task: Would you conclude that there is enough evidence to support your team leader's conclusion? If not, what additional information would you need?

#ANSWER