### Block Release Exercise: Preprocessing Group

This notebook is for the pre-processing group. Your aim is to take the data contained in *customerlist.xlsx*, clean it up, and make it consistent with the interface format so that your data can be passed onto the other group at the end of the afternoon session. You should not communicate with the other group until the end of the task.

There are various tasks that you have to do. These are marked with "Coding Task" in the sheet.

You will need to start by downloading the initial version of the spreadsheet *customerList.xlsx* from the GitHub site; we will give your team a name and associated GitHub project. Check out a copy of this from GitHub, and make sure that you have it in the same folder as this notebook.

##### Background Information: Customer Spreadsheet

The customer spreadsheet provided is for customers of an online coffee company. It has five columns: Customer Name, Address, Email, Total Orders, and Order Type. Customer total orders are either recorded by "Individual" number of coffee pods ordered, or by "Packets" that consist of 12 coffee pods.

##### Background Information: Interface Format

The software interface between your work and the work by the other group consists of an csv formatted file, i.e. a file where on each row, entries are separated by commas, with a newline separating rows.The columns are: First Name, Last Name, Email, Address, Total Orders (in that order). Total orders is in terms of individual numbers of pods. So, the output from running this notebook will need to be in that format. The file should be called *cleanedCustomerData.csv*

Coding Task: in the next block, import the Pandas data processing library and name it "pd"

In [2]:
#ANSWER
import pandas as pd

Coding Task: in the next block, read in the file "customers.xlsx" into a Pandas dataframe called customers, then print it out to make sure that you have read it in correctly.

In [34]:
#ANSWER
customers = pd.read_excel("customers.xlsx")
print(customers)

     Customer Name                                            Address  \
0  Jaswinder Singh               37 Broadwide Road, Rummidge, RU6 7HG
1      Mark Harper          Flat 5, Riverside House, Anytown, AN2 8NE
2     Melinda Nagy                 77 Melton Road, Somecity, SM12 1HE
3     Yichen Zhang             6/1 Braeside Court, Scotstoun, SC5 1HE
4      Mark Harper          Flat 5, Riverside House, Anytown, AN2 8NE
5  Rebecca Jameson    The Old Rectory, Humbleside, Marksham, MA14 6LW
6   Willem deVries          17 Parkside, Newtown-le-Willows, NL18 5TH
7  Jaswinder Singh  37 Broadwide Road, Rummidge, South Midlands, R...
8     James Colton           19 Belton Street, Isle of Trees, IT2 5PQ
9    Ethel Trellis     1 The Avenue, Foxley Estate, Rummidge, RU4 7WF

                     Email  Total Orders  Order Type
0   JasSingh78@example.com            57  Individual
1  Mark.Harper@example.com             5     Packets
2         MelN@example.com           152        Ind.
3   YZ41234253@example.com            17     Packets
4  Mark.Harper@example.com             5     Packets
5  BeckyJamzie@example.com           271  Individual
6  deVries1955@example.com            23     Packets
7   JasSingh78@example.com            72  Individual
8  JimmyColton@example.com             6     Packets
9  EthelsPlace@example.com             2     Packets

The next few tasks are concerned with cleaning the data. Before you look at the step-to-step guidelines below, look at the data and decide where there are inconsistencies, duplicates, problems. Look at the output format and consider how the desired output format differs from the input format. Make some notes on this in the next block.

#ANSWER
Duplicate customer - Mark Harper
Customer registered twice - Jaswinder Singh appears twice with different address (we need to merge both entries)
Email - lower and upper case
Order type - different values for Individual (Ind. Individual)

Preliminary Example: In a lot of the code you are going to write below, you will need to loop through one or more columns of the DataFrame to look for particular patterns and make changes. The basic idea you will use a lot is a for loop with an *enumerate* function, which loops through each row of the dataframe and gives names to the current row and the item of interest, and the *at* function that takes a column name and row number and allows you to view or change that data point.

In [35]:
#example
for i,c in enumerate(customers["Order Type"]):
    print(c)
    #customers.at[i,"Email"] = "blah" # showing how to make a change
    # don't uncomment the previous line or you will over-write all the email addresses!

Individual
Packets
Ind.
Packets
Packets
Individual
Packets
Individual
Packets
Packets

Coding Task: Note that there is an error in the "order type" column, where instead of "Individual" one row says "Ind.". Write code to loop though the column and change this. Don't just change that one example by setting the value directly - write code so that it will catch any instance of this. Use the example above as a starting point, but clearly you will have to make some changes to it.

In [36]:
#ANSWER 
for i,c in enumerate(customers["Order Type"]):
    if(customers.at[i,"Order Type"] == "Ind."):
        customers.at[i,"Order Type"] = "Individual"
print(customers)

     Customer Name                                            Address  \
0  Jaswinder Singh               37 Broadwide Road, Rummidge, RU6 7HG
1      Mark Harper          Flat 5, Riverside House, Anytown, AN2 8NE
2     Melinda Nagy                 77 Melton Road, Somecity, SM12 1HE
3     Yichen Zhang             6/1 Braeside Court, Scotstoun, SC5 1HE
4      Mark Harper          Flat 5, Riverside House, Anytown, AN2 8NE
5  Rebecca Jameson    The Old Rectory, Humbleside, Marksham, MA14 6LW
6   Willem deVries          17 Parkside, Newtown-le-Willows, NL18 5TH
7  Jaswinder Singh  37 Broadwide Road, Rummidge, South Midlands, R...
8     James Colton           19 Belton Street, Isle of Trees, IT2 5PQ
9    Ethel Trellis     1 The Avenue, Foxley Estate, Rummidge, RU4 7WF

                     Email  Total Orders  Order Type
0   JasSingh78@example.com            57  Individual
1  Mark.Harper@example.com             5     Packets
2         MelN@example.com           152  Individual
3   YZ41234253@example.com            17     Packets
4  Mark.Harper@example.com             5     Packets
5  BeckyJamzie@example.com           271  Individual
6  deVries1955@example.com            23     Packets
7   JasSingh78@example.com            72  Individual
8  JimmyColton@example.com             6     Packets
9  EthelsPlace@example.com             2     Packets

Preliminary example: *iterrows()* is a function on a dataframe that we can use alongside a for loop to go through each of the items in a dataframe, giving us both the row number (often called the *index* of that line) and the data on the row itself. Here is an example, where we print out the data.

In [37]:
#example
for i1,c1 in customers.iterrows():
    print(i1)
    print(list(c1))

0
['Jaswinder Singh', '37 Broadwide Road, Rummidge, RU6 7HG', 'JasSingh78@example.com', 57, 'Individual']
1
['Mark Harper', 'Flat 5, Riverside House, Anytown, AN2 8NE', 'Mark.Harper@example.com', 5, 'Packets']
2
['Melinda Nagy', '77 Melton Road, Somecity, SM12 1HE', 'MelN@example.com', 152, 'Individual']
3
['Yichen Zhang', '6/1 Braeside Court, Scotstoun, SC5 1HE', 'YZ41234253@example.com', 17, 'Packets']
4
['Mark Harper', 'Flat 5, Riverside House, Anytown, AN2 8NE', 'Mark.Harper@example.com', 5, 'Packets']
5
['Rebecca Jameson', 'The Old Rectory, Humbleside, Marksham, MA14 6LW', 'BeckyJamzie@example.com', 271, 'Individual']
6
['Willem deVries', '17 Parkside, Newtown-le-Willows, NL18 5TH', 'deVries1955@example.com', 23, 'Packets']
7
['Jaswinder Singh', '37 Broadwide Road, Rummidge, South Midlands, RU6 7HG', 'JasSingh78@example.com', 72, 'Individual']
8
['James Colton', '19 Belton Street, Isle of Trees, IT2 5PQ', 'JimmyColton@example.com', 6, 'Packets']
9
['Ethel Trellis', '1 The Avenue, Foxley Estate, Rummidge, RU4 7WF', 'EthelsPlace@example.com', 2, 'Packets']

Coding Task: There is a duplicate entry. In the next block, write code to get rid of duplicate entries. Create an empty list, called *duplicates*, that will check  You will need to use two *for* loops, one inside the other, to loop around the customer entries. Then use an *if* statement to check whether the two customers are identical, and if so, store the line numbers in a list. Finally, use *customers.drop(1,inplace=True)* to delete row 1 of the duplicated rows (don't delete both!). Note that we have to say *inplace* otherwise the original dataframe will be unchanged and a copy returned. This is a rather complex task so please remember to ask us for help.

In [48]:
#ANSWER

def removeExactDuplicates(dataset): 
    for i1,s1 in dataset.iterrows():
        for i2,s2 in dataset.iterrows():
            if ( s1.equals(s2) and (i1!=i2) ):
                dataset.drop(1,inplace=True)
                
removeExactDuplicates(customers)

Let's re-set the index column so that there isn't a missing value, then let's print the customers dataframe to

In [49]:
customers.reset_index(inplace=True, drop=True)
print(customers)

     Customer Name                                            Address  \
0  Jaswinder Singh               37 Broadwide Road, Rummidge, RU6 7HG
1     Melinda Nagy                 77 Melton Road, Somecity, SM12 1HE
2     Yichen Zhang             6/1 Braeside Court, Scotstoun, SC5 1HE
3      Mark Harper          Flat 5, Riverside House, Anytown, AN2 8NE
4  Rebecca Jameson    The Old Rectory, Humbleside, Marksham, MA14 6LW
5   Willem deVries          17 Parkside, Newtown-le-Willows, NL18 5TH
6  Jaswinder Singh  37 Broadwide Road, Rummidge, South Midlands, R...
7     James Colton           19 Belton Street, Isle of Trees, IT2 5PQ
8    Ethel Trellis     1 The Avenue, Foxley Estate, Rummidge, RU4 7WF

                     Email  Total Orders  Order Type
0   JasSingh78@example.com            57  Individual
1         MelN@example.com           152  Individual
2   YZ41234253@example.com            17     Packets
3  Mark.Harper@example.com             5     Packets
4  BeckyJamzie@example.com           271  Individual
5  deVries1955@example.com            23     Packets
6   JasSingh78@example.com            72  Individual
7  JimmyColton@example.com             6     Packets
8  EthelsPlace@example.com             2     Packets

Thinking Task and (optional) Advanced Coding Task (optional): There is a more complex duplicated entry. If you look at the customer "Jaswinder Singh" then you will see that there are two similar entries - same name, similar address, same email, but different numbers of orders. What do you think should be done with this entry? I would suggest that it make sense to combine the two rows into one, and add the total number of orders together - this looks like the same customer has created two accounts. Do you agree? This demonstrates that deciding what to do about duplicate and near-duplicate entries isn't trivial - you need to think about the context of the data. If you are confident with coding, write some code in the next block to do this - this is rather challenging, though, so you might want to move on to the next task.

In [50]:
#ANSWER we should merge both entries for users with same name

def removeDuplicatedEntries(dataset):
    #TODO
    
removeDuplicatedEntries(customers)

IndentationError: expected an indented block (<ipython-input-50-9eda240e923e>, line 5)

Coding Task: Now let's start putting the data into the required format. Firstly, let's sort out the order totals. Remember that if people ordered in "Packets" then that is packets of twelve coffee pods, and that the final format requires "Total Orders" to be in terms of individual pods. So, write some code in the next block that loops through the rows, and if the "Order Type" is Packets, multiplies the "Order Total" column by 12. For consistency, you should then change the "Order Type" to Individual, though you could perhaps neglect this because we are going to delete the "Order Type" column soon because it is not needed in the final format.

In [63]:
#ANSWER
def packetsToPods(dataset):
    for i1,s1 in dataset.iterrows():
        print(s1.at['Order Type'])
        if(s1.at['Order Type'] == 'Packets'):
            print(s1)
            #s1.at['Order Total'] = s1.at['Order Total'] * 12
            
packetsToPods(customers)
print(customers)

Individual
Individual
Packets
Customer Name                              Yichen Zhang
Address          6/1 Braeside Court, Scotstoun, SC5 1HE
Email                            YZ41234253@example.com
Total Orders                                         17
Order Type                                      Packets
Name: 2, dtype: object
Packets
Customer Name                                  Mark Harper
Address          Flat 5, Riverside House, Anytown, AN2 8NE
Email                              Mark.Harper@example.com
Total Orders                                             5
Order Type                                         Packets
Name: 3, dtype: object
Individual
Packets
Customer Name                               Willem deVries
Address          17 Parkside, Newtown-le-Willows, NL18 5TH
Email                              deVries1955@example.com
Total Orders                                            23
Order Type                                         Packets
Name: 5, dtype: object
Individual
Packets
Customer Name                                James Colton
Address          19 Belton Street, Isle of Trees, IT2 5PQ
Email                             JimmyColton@example.com
Total Orders                                            6
Order Type                                        Packets
Name: 7, dtype: object
Packets
Customer Name                                     Ethel Trellis
Address          1 The Avenue, Foxley Estate, Rummidge, RU4 7WF
Email                                   EthelsPlace@example.com
Total Orders                                                  2
Order Type                                              Packets
Name: 8, dtype: object
     Customer Name                                            Address  \
0  Jaswinder Singh               37 Broadwide Road, Rummidge, RU6 7HG
1     Melinda Nagy                 77 Melton Road, Somecity, SM12 1HE
2     Yichen Zhang             6/1 Braeside Court, Scotstoun, SC5 1HE
3      Mark Harper          Flat 5, Riverside House, Anytown, AN2 8NE
4  Rebecca Jameson    The Old Rectory, Humbleside, Marksham, MA14 6LW
5   Willem deVries          17 Parkside, Newtown-le-Willows, NL18 5TH
6  Jaswinder Singh  37 Broadwide Road, Rummidge, South Midlands, R...
7     James Colton           19 Belton Street, Isle of Trees, IT2 5PQ
8    Ethel Trellis     1 The Avenue, Foxley Estate, Rummidge, RU4 7WF

                     Email  Total Orders  Order Type
0   JasSingh78@example.com            57  Individual
1         MelN@example.com           152  Individual
2   YZ41234253@example.com            17     Packets
3  Mark.Harper@example.com             5     Packets
4  BeckyJamzie@example.com           271  Individual
5  deVries1955@example.com            23     Packets
6   JasSingh78@example.com            72  Individual
7  JimmyColton@example.com             6     Packets
8  EthelsPlace@example.com             2     Packets

Coding Task: Read the documentation about the "drop" function at https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html and in the next block delete the "Order Type" column.

In [65]:
#ANSWER
customers.drop(['Order Type'], axis=1)

,Customer Name,Address,Email,Total Orders
0,Jaswinder Singh,"37 Broadwide Road, Rummidge, RU6 7HG",JasSingh78@example.com,57
1,Melinda Nagy,"77 Melton Road, Somecity, SM12 1HE",MelN@example.com,152
2,Yichen Zhang,"6/1 Braeside Court, Scotstoun, SC5 1HE",YZ41234253@example.com,17
3,Mark Harper,"Flat 5, Riverside House, Anytown, AN2 8NE",Mark.Harper@example.com,5
4,Rebecca Jameson,"The Old Rectory, Humbleside, Marksham, MA14 6LW",BeckyJamzie@example.com,271
5,Willem deVries,"17 Parkside, Newtown-le-Willows, NL18 5TH",deVries1955@example.com,23
6,Jaswinder Singh,"37 Broadwide Road, Rummidge, South Midlands, R...",JasSingh78@example.com,72
7,James Colton,"19 Belton Street, Isle of Trees, IT2 5PQ",JimmyColton@example.com,6
8,Ethel Trellis,"1 The Avenue, Foxley Estate, Rummidge, RU4 7WF",EthelsPlace@example.com,2

Preliminary Example: In the next step, we are going to split the "name" column. You do this using the "split" function in python, https://www.w3schools.com/python/ref_string_split.asp Here is an example:

In [66]:
name = "Colin Johnson"
splitName = name.split()
print(splitName)

['Colin', 'Johnson']

Coding Task: Now, we need to create two new columns consisting of the first and last names (we are really lucky here, everyone in our data has just one first name and one last name, and they are clearly separated by a space. In real data, this is a much more complex task!). In the next block, write a *for* loop to go through the "Customer Name" column, and make a list of the first names and a list of the last names. Call these lists *firstNames* and *lastNames*.

In [76]:
#ANSWER
firstNames = list()
lastNames = list()
for i1,s1 in customers.iterrows():
     firstNames.append(s1.at['Customer Name'].split()[0])
     lastNames.append(s1.at['Customer Name'].split()[1])

In the next block, we add these new columns to the customers DataFrame.

In [77]:
customers["First Name"] = firstNames
customers["Last Name"] = lastNames
print(customers)

     Customer Name                                            Address  \
0  Jaswinder Singh               37 Broadwide Road, Rummidge, RU6 7HG
1     Melinda Nagy                 77 Melton Road, Somecity, SM12 1HE
2     Yichen Zhang             6/1 Braeside Court, Scotstoun, SC5 1HE
3      Mark Harper          Flat 5, Riverside House, Anytown, AN2 8NE
4  Rebecca Jameson    The Old Rectory, Humbleside, Marksham, MA14 6LW
5   Willem deVries          17 Parkside, Newtown-le-Willows, NL18 5TH
6  Jaswinder Singh  37 Broadwide Road, Rummidge, South Midlands, R...
7     James Colton           19 Belton Street, Isle of Trees, IT2 5PQ
8    Ethel Trellis     1 The Avenue, Foxley Estate, Rummidge, RU4 7WF

                     Email  Total Orders  Order Type First Name Last Name
0   JasSingh78@example.com            57  Individual  Jaswinder     Singh
1         MelN@example.com           152  Individual    Melinda      Nagy
2   YZ41234253@example.com            17     Packets     Yichen     Zhang
3  Mark.Harper@example.com             5     Packets       Mark    Harper
4  BeckyJamzie@example.com           271  Individual    Rebecca   Jameson
5  deVries1955@example.com            23     Packets     Willem   deVries
6   JasSingh78@example.com            72  Individual  Jaswinder     Singh
7  JimmyColton@example.com             6     Packets      James    Colton
8  EthelsPlace@example.com             2     Packets      Ethel   Trellis

Coding Task: In the next block, remove the original "Customer Name" column

In [78]:
#ANSWER
customers.drop(['Customer Name'], axis=1)

,Address,Email,Total Orders,Order Type,First Name,Last Name
0,"37 Broadwide Road, Rummidge, RU6 7HG",JasSingh78@example.com,57,Individual,Jaswinder,Singh
1,"77 Melton Road, Somecity, SM12 1HE",MelN@example.com,152,Individual,Melinda,Nagy
2,"6/1 Braeside Court, Scotstoun, SC5 1HE",YZ41234253@example.com,17,Packets,Yichen,Zhang
3,"Flat 5, Riverside House, Anytown, AN2 8NE",Mark.Harper@example.com,5,Packets,Mark,Harper
4,"The Old Rectory, Humbleside, Marksham, MA14 6LW",BeckyJamzie@example.com,271,Individual,Rebecca,Jameson
5,"17 Parkside, Newtown-le-Willows, NL18 5TH",deVries1955@example.com,23,Packets,Willem,deVries
6,"37 Broadwide Road, Rummidge, South Midlands, R...",JasSingh78@example.com,72,Individual,Jaswinder,Singh
7,"19 Belton Street, Isle of Trees, IT2 5PQ",JimmyColton@example.com,6,Packets,James,Colton
8,"1 The Avenue, Foxley Estate, Rummidge, RU4 7WF",EthelsPlace@example.com,2,Packets,Ethel,Trellis

Coding Task: Next, we need to re-order the columns. This is done using the *reindex* method on a dataframe. This takes a list of the column titles in the order that we want to put them in. In the next block, create a list called *newOrder* with the columns titles in the right order, using the "Background Information: Interface Format" section at the beginning of this sheet to find out what these are. Then the next block will apply the reindex method.

In [83]:
#ANSWER
newOrder = ["First Name", "Last Name", "Address", "Email",	"Total Orders",	"Order Type"]

In [84]:
customers = customers.reindex(columns=newOrder)
print(customers)

  First Name Last Name                                            Address  \
0  Jaswinder     Singh               37 Broadwide Road, Rummidge, RU6 7HG
1    Melinda      Nagy                 77 Melton Road, Somecity, SM12 1HE
2     Yichen     Zhang             6/1 Braeside Court, Scotstoun, SC5 1HE
3       Mark    Harper          Flat 5, Riverside House, Anytown, AN2 8NE
4    Rebecca   Jameson    The Old Rectory, Humbleside, Marksham, MA14 6LW
5     Willem   deVries          17 Parkside, Newtown-le-Willows, NL18 5TH
6  Jaswinder     Singh  37 Broadwide Road, Rummidge, South Midlands, R...
7      James    Colton           19 Belton Street, Isle of Trees, IT2 5PQ
8      Ethel   Trellis     1 The Avenue, Foxley Estate, Rummidge, RU4 7WF

                     Email  Total Orders  Order Type
0   JasSingh78@example.com            57  Individual
1         MelN@example.com           152  Individual
2   YZ41234253@example.com            17     Packets
3  Mark.Harper@example.com             5     Packets
4  BeckyJamzie@example.com           271  Individual
5  deVries1955@example.com            23     Packets
6   JasSingh78@example.com            72  Individual
7  JimmyColton@example.com             6     Packets
8  EthelsPlace@example.com             2     Packets

Coding task Okay, the final part of the project is to write this to a csv file. Look at https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html to find out how to do this, and write a line of code in the next block to do this. Make sure to use the "index=False" option so that you do not include a numerical index column.

In [1]:
#ANSWER
customers.to_csv("cleanedCustomerData.csv)

We are finished here. Look in the folder to check that the csv file has been correctly written, and then go back to the command line to upload the csv file to the GitHub project.